.bpost
{
	max-width: 1000px;
	width:80%;
	background-color: #FFF;
	border:10px solid $panel-border;
	margin: 10px auto;
	padding: 10px 10px;
	padding-bottom:5px;
	.bpostInfo
	{
		width:100%;
		border-bottom:1px solid $panel-border;
		height:70px;

		margin-bottom:10px;
		.bpostAvatar
		{
			float:left;
			width:60px;
			height:60px;
			@include border-radius(50%);
			margin-right:10px;
		}

		.bpostTitle
		{
			font-size: 15pt;
			margin-bottom:0px;
			padding-top:7px;
			color:$yunite-lblue;
			font-weight: bold;
			text-overflow: ellipsis;
			white-space: nowrap;
  			overflow: hidden;
		}

		.bpostName
		{
			font-size:8pt;
		}	

		.bpostDate
		{
			font-size:8pt;
		}
	}

	.bpostContent
	{
		font-size:10pt;
		h1, h2
		{
			font-size:14pt;
			margin-top:0px;
			padding:0 0;
			color:$yunite-lblue;
			border-bottom:1px solid $panel-border;
			padding-bottom:8px;
		}

		h2
		{
			font-size:13pt;
		}

		ul {
    		list-style: none;
  		  	padding:0;
 		  	margin:0;
		}

		ul > li { 
 		   padding-left: 1em; 
		    text-indent: -.7em;
		}

		ul > li:before {
		    content: "■ ";
		    padding-right:6px;
		    color: $yunite-lblue; /* or whatever color you prefer */
		}

		a
		{
			color:$yunite-lblue;
			text-decoration:none;
		}

		a:hover
		{
			color:darken($yunite-lblue,10%);
		}

		a:visited
		{
			color:darken($yunite-lblue,15%);
		}

		img{
			width:100%;
			//margin:10px auto;
			//padding-bottom:10px;
			//padding-top:10px;
			//border-bottom:1px solid $panel-border;
		}

		p{
			border-bottom:1px solid $panel-border;
			margin:10px 0;
			padding-bottom:10px;
		}

		iframe
		{
			width:100% !important;
			border:none;
		}
	}

	.bpostImage
	{
		width:100%;
		padding-bottom:15px;
		margin-bottom:10px;
		border-bottom:1px solid $panel-border;
	}
}