.container
{
	position:fixed;
	left:0px;
	right:0px;
	top:60px;
	bottom:0px;

	margin:0 0;

	.drawer
	{
		@include single-transition(margin-left); 
		width:$drawerWidth;
		background-color:$yunite-sidebar;
		float:left;
		height:100%;
		
		overflow: scroll;

		#page_top
		{
			@include single-transition(background-color); 
			@include single-transition(border-color); 
			background-color:darken($yunite-sidebar,2%);
			margin:0px 0px;
			padding: 15px 10px;
			color:#FFF;
			font-size: 12pt;
			cursor:pointer;
			border:2px solid darken($yunite-sidebar,2%);
			border-left:2px solid darken($yunite-lblue,2%);
			height:45px;
			width:($drawerWidth) - (37px);
			position:fixed;
			z-index:11;
			top:60px;
			img
			{
				@include border-radius(50%);
				width:45px;
				height:45px;
				position:absolute;
				left: 12px;
				background-color: darken($yunite-lblue,20%);
			}

			div
			{
				margin-top:15px;
				font-size:11pt;
				padding-left:55px;
			}
		}

		#page_top:hover
		{
			background-color:darken($yunite-lblue,2%);
			border:2px solid darken($yunite-lblue,2%);
		}

		.drawer_scroller
		{
			width:100%;
			position:relative;
			padding-top:76px;
			
		}
	}

	.content
	{
		@include single-transition(opacity); 
		width:1000px - $drawerWidth;
		float:left;
		height:100%;
		position:absolute;
		overflow: auto;
		right:0px;
		.content_scroller
		{
			width:100%;
		}
	}
}
																				