.container
{
	position:fixed;
	left:0px;
	right:0px;
	top:60px;
	bottom:0px;
	overflow:hidden;
	margin:0 0;
	.drawer
	{
		@include single-transition(margin-left); 
		width:$drawerWidthMobile;
		background-color:$yunite-sidebar;
		float:left;
		height:100%;
		z-index:10;
		overflow-y: scroll;
		overflow-x:hidden;
		position:absolute;
		#page_top
		{
			@include single-transition(background-color); 
			@include single-transition(border-color); 
			background-color:darken($yunite-sidebar,3%);
			margin:0px 0px;
			padding: 15px 0px;
			z-index:11;
			color:#FFF;
			font-size: 12pt;
			cursor:pointer;
			border:2px solid darken($yunite-sidebar,2%);
			border-left:2px solid darken($yunite-lblue,2%);
			height:45px;
			width:($drawerWidthMobile) - (17px);
			//width:100%;
			position:fixed;
			img
			{
				@include border-radius(50%);
				width:45px;
				height:45px;
				position:absolute;
				left: 12px;
				background-color: darken($yunite-lblue,20%);
			}

			div
			{
				margin-top:15px;
				font-size:11pt;
				padding-left:65px;
			}
		}

		#page_top:active
		{
			background-color:darken($yunite-lblue,2%);
			border:2px solid darken($yunite-lblue,2%);
		}

		.drawer_scroller
		{
			width:inherit;
			margin-top:77px;
		}
	}

	.drawer_show
	{
		margin-left:0px;
	}

	.drawer_hidden
	{
		margin-left:-$drawerWidthMobile;
	}

	.content
	{
		height:100%;
		position:absolute;
		left:0px;
		overflow: auto;
		z-index:9;
		.content_scroller
		{
			width:100%;
			margin:0 auto;
		}
	}
}