$drawerWidth: 300px;

.container
{
	position:fixed;
	left:0px;
	right:0px;
	top:60px;
	bottom:0px;

	margin:0 0;

	.drawer
	{
		width:$drawerWidth;
		background-color:$yunite-sidebar;
		float:left;
		height:100%;
		
		overflow: auto;

		.drawer_scroller
		{
			width:100%;
		}
	}

	.content
	{
		width:1000px - $drawerWidth;
		float:left;
		height:100%;

		overflow: auto;

		.content_scroller
		{
			width:100%;
		}
	}
}