body
{
	margin:0 0;
	padding: 0 0;
	font-family: $sans-serif;
	background-image: url(/assets/images/halftone.png);
	background-repeat: repeat;
	overflow:hidden;
}

.top_bar
{
	height:60px;
	width:100%;
	background-color:$yunite-lblue;
	
	.mobile_menu
	{
		display:none;
	}

	.logo
	{
		width:240px;
		position:relative;
		margin:0 0;
		padding:0 20px;
		a
		{
			margin:0 40.5px;
		}
	}
}
