// Variables

$main-color: #00a89e; 
$yunite-lblue-alt: #4481C4;
$yunite-lblue: #008cba;
$yunite-lblue-hover: #0078a0;
$yunite-aqua: #65CECF;
$yunite-green-alt: #83c444;
$yunite-green: #88C84B;
$yunite-sidebar: #053040;
$yunite-green-hover: #689b39;
$yunite-notification-yellow: #FFFFF2;
$yunite-warning: #FFCC33;
$yunite-warning-hover: darken($yunite-warning, 15%);
$yunite-alert: #c60f13;
$yunite-alert-hover: darken($yunite-alert, 10%);
$yunite-like: #C375B0;
$yunite-gold: #e4b727;
$yunite-orange: #eb6420;

$sans-serif: "rooney-sans", sans-serif;

$mobileTransition: 700px;

$panel-border: #DEDEDE;

$drawerWidth: 300px;

$drawerWidthMobile: 300px;
// Mixins

// Border Radius Mixin
@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

// Filter compile issues
@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}