/* line 41, scss/_header.scss */
body {
  margin: 0 0;
  padding: 0 0;
  font-family: "rooney-sans", sans-serif;
}

/* line 48, scss/_header.scss */
.top_bar {
  height: 60px;
  width: 100%;
  background-color: #008cba;
}
/* line 54, scss/_header.scss */
.top_bar .logo {
  width: 240px;
  position: relative;
  margin: 0 0;
  padding: 0 20px;
}
/* line 60, scss/_header.scss */
.top_bar .logo a {
  margin: 0 40.5px;
}

/* line 4, scss/_content.scss */
.container {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  background-color: #FFF;
  margin: 0 0;
}
/* line 16, scss/_content.scss */
.container .drawer {
  width: 300px;
  background-color: #053040;
  float: left;
  height: 100%;
  overflow: auto;
}
/* line 25, scss/_content.scss */
.container .drawer .drawer_scroller {
  height: 120%;
  width: 100%;
}
/* line 32, scss/_content.scss */
.container .content {
  width: 700px;
  background-color: #FFF;
  float: left;
  height: 100%;
  overflow: auto;
}
/* line 41, scss/_content.scss */
.container .content .content_scroller {
  height: 120%;
  width: 100%;
}

/* line 7, scss/_card.scss */
.card {
  -webkit-transition: background-color 400ms;
  -moz-transition: background-color 400ms;
  -o-transition: background-color 400ms;
  transition: background-color 400ms;
  background-color: #063749;
  margin: 3px 0px;
  padding: 15px 10px;
  height: 50px;
  color: #FFF;
  font-size: 12pt;
  cursor: pointer;
  border-left: 2px solid #008cba;
}
/* line 20, scss/_card.scss */
.card .avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 27, scss/_card.scss */
.card .avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 32, scss/_card.scss */
.card .cardTitle {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 11pt;
}
/* line 38, scss/_card.scss */
.card .cardInfo {
  font-size: 8pt;
  float: left;
  line-height: 1.25;
}

/* line 46, scss/_card.scss */
.card:hover {
  background-color: #0079a1;
}

/* line 51, scss/_card.scss */
.currentCard {
  background-color: #008cba !important;
}

/* line 4, scss/_blogpost.scss */
.bpost {
  max-width: 1000px;
  width: 95%;
  background-color: #FFF;
  border: 15px solid #dedede;
  margin: 10px auto;
  padding: 10px 10px;
}
/* line 13, scss/_blogpost.scss */
.bpost .bpostTitle {
  font-size: 18pt;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}
