@charset "UTF-8";
/* line 41, scss/_header.scss */
body {
  margin: 0 0;
  padding: 0 0;
  font-family: "rooney-sans", sans-serif;
  background-image: url(/assets/images/halftone.png);
  background-repeat: repeat;
}

/* line 51, scss/_header.scss */
.top_bar {
  height: 60px;
  width: 100%;
  background-color: #008cba;
}
/* line 57, scss/_header.scss */
.top_bar .logo {
  width: 240px;
  position: relative;
  margin: 0 0;
  padding: 0 20px;
}
/* line 63, scss/_header.scss */
.top_bar .logo a {
  margin: 0 40.5px;
}

/* line 4, scss/_content.scss */
.container {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  margin: 0 0;
}
/* line 14, scss/_content.scss */
.container .drawer {
  width: 300px;
  background-color: #053040;
  float: left;
  height: 100%;
  overflow: auto;
}
/* line 23, scss/_content.scss */
.container .drawer .drawer_scroller {
  height: 120%;
  width: 100%;
}
/* line 30, scss/_content.scss */
.container .content {
  width: 700px;
  float: left;
  height: 100%;
  overflow: auto;
}
/* line 38, scss/_content.scss */
.container .content .content_scroller {
  height: 120%;
  width: 100%;
}

/* line 7, scss/_card.scss */
.card {
  -webkit-transition: background-color 400ms;
  -moz-transition: background-color 400ms;
  -o-transition: background-color 400ms;
  transition: background-color 400ms;
  background-color: #063749;
  margin: 3px 0px;
  padding: 15px 10px;
  height: 50px;
  color: #FFF;
  font-size: 12pt;
  cursor: pointer;
  border-left: 2px solid #008cba;
}
/* line 20, scss/_card.scss */
.card .avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 27, scss/_card.scss */
.card .avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 32, scss/_card.scss */
.card .cardTitle {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 11pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 41, scss/_card.scss */
.card .cardInfo {
  font-size: 8pt;
  float: left;
  line-height: 1.25;
}

/* line 49, scss/_card.scss */
.card:hover {
  background-color: #0079a1;
}

/* line 54, scss/_card.scss */
.currentCard {
  background-color: #008cba !important;
}

/* line 4, scss/_blogpost.scss */
.bpost {
  max-width: 1000px;
  width: 85%;
  background-color: #FFF;
  border: 15px solid #dedede;
  margin: 10px auto;
  padding: 15px 15px;
}
/* line 13, scss/_blogpost.scss */
.bpost .bpostInfo {
  width: 100%;
  border-bottom: 1px solid #dedede;
  height: 70px;
  margin-bottom: 15px;
}
/* line 20, scss/_blogpost.scss */
.bpost .bpostInfo .bpostAvatar {
  float: left;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
/* line 29, scss/_blogpost.scss */
.bpost .bpostInfo .bpostTitle {
  font-size: 18pt;
  margin-bottom: 0px;
  padding-top: 7px;
  color: #008cba;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 41, scss/_blogpost.scss */
.bpost .bpostInfo .bpostName {
  font-size: 8pt;
}
/* line 46, scss/_blogpost.scss */
.bpost .bpostInfo .bpostDate {
  font-size: 8pt;
}
/* line 54, scss/_blogpost.scss */
.bpost .bpostContent h1, .bpost .bpostContent h2 {
  font-size: 18pt;
  margin-top: 0px;
  padding: 0 0;
  color: #008cba;
  border-bottom: 1px solid #dedede;
  padding-bottom: 8px;
}
/* line 64, scss/_blogpost.scss */
.bpost .bpostContent h2 {
  font-size: 16pt;
}
/* line 68, scss/_blogpost.scss */
.bpost .bpostContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 74, scss/_blogpost.scss */
.bpost .bpostContent ul > li {
  padding-left: 1em;
  text-indent: -.7em;
}
/* line 79, scss/_blogpost.scss */
.bpost .bpostContent ul > li:before {
  content: "■ ";
  padding-right: 6px;
  color: #008cba;
  /* or whatever color you prefer */
}
/* line 86, scss/_blogpost.scss */
.bpost .bpostContent a {
  color: #008cba;
  text-decoration: none;
}
/* line 92, scss/_blogpost.scss */
.bpost .bpostContent a:hover {
  color: #006687;
}
/* line 97, scss/_blogpost.scss */
.bpost .bpostContent a:visited {
  color: #00526e;
}
/* line 103, scss/_blogpost.scss */
.bpost .bpostImage {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}
