/* line 50, scss/manage.scss */
.submitButton {
  margin-top: 15px;
  width: 200px;
}

/* line 55, scss/manage.scss */
.logoutBtn {
  margin: 10px;
}

/* line 59, scss/manage.scss */
.custForm {
  width: 100px;
}

/* line 64, scss/manage.scss */
.loginForm {
  width: 500px;
  margin-top: 12px;
}

/* line 70, scss/manage.scss */
.goodLogin {
  background-color: #8AFFA8 !important;
}

/* line 75, scss/manage.scss */
.badLogin {
  background-color: #FFB2B2 !important;
}

/* line 80, scss/manage.scss */
.loginFormIn {
  width: 200px !important;
  display: inline-block !important;
  margin: 0px 5px;
}

/* line 86, scss/manage.scss */
.loveYouJon {
  width: 200px;
  margin: auto;
}

/* line 91, scss/manage.scss */
.loveYouJon input {
  margin: 5px;
}

/* line 94, scss/manage.scss */
.marginTop {
  margin-top: 100px;
}

/* line 98, scss/manage.scss */
.registerBtn {
  width: 100px !important;
  margin: auto !important;
  display: inline-block;
}

/* line 106, scss/manage.scss */
.manage-panel {
  max-width: 1200px;
  width: 90%;
  background-color: #FFF;
  border: 15px solid #dedede;
  margin: 10px auto;
  padding: 20px 20px;
}
/* line 115, scss/manage.scss */
.manage-panel .ta-toolbar {
  margin: 15px auto;
}

/* line 121, scss/manage.scss */
.previewTitle {
  text-align: center;
  font-size: 14pt;
  color: #008cba;
}

/* line 128, scss/manage.scss */
.panel-nav {
  padding: 10px 0px;
  background-color: #FFF;
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
}
/* line 130, scss/manage.scss */
.panel-nav .panel-nav-item {
  width: 150px;
  text-align: center;
  font-size: 13pt;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 4px 10px;
  margin: 10px 5px;
  background-color: #dedede;
  cursor: pointer;
}
/* line 142, scss/manage.scss */
.panel-nav .panel-nav-item:hover {
  background-color: #d1d1d1;
}
/* line 147, scss/manage.scss */
.panel-nav .panel-nav-item:active, .panel-nav .panelnavitemactive {
  background-color: #b8b8b8;
}

/* line 160, scss/manage.scss */
.bpostEdit .bpostInfo {
  border: none;
  padding: 0 0;
  margin: 0 0;
}

/* line 168, scss/manage.scss */
.bpostControls {
  float: right;
  width: 300px;
  padding-top: 20px;
  position: relative;
  padding-right: 10px;
}
/* line 179, scss/manage.scss */
.bpostControls .bpostDelete, .bpostControls .bpostEditb {
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 0 0;
  margin: 0 0;
  position: relative;
  overflow: hidden;
  float: right;
  cursor: pointer;
}
/* line 191, scss/manage.scss */
.bpostControls .bpostDelete {
  background-color: #ca3535;
  width: 90px;
  right: 0px;
  color: #E9E9E9;
}
/* line 197, scss/manage.scss */
.bpostControls .bpostDelete .text {
  position: absolute;
  display: inline-block;
  bottom: 4.5px;
  left: 35px;
}
/* line 205, scss/manage.scss */
.bpostControls .bpostDelete .button {
  background-color: #a22a2a;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  width: 30px;
  height: 100%;
  position: relative;
}
/* line 213, scss/manage.scss */
.bpostControls .bpostDelete .button .x {
  position: absolute;
  top: 5px;
  left: 10px;
}
/* line 222, scss/manage.scss */
.bpostControls .bpostDelete:hover {
  background-color: #d15151;
}
/* line 227, scss/manage.scss */
.bpostControls .bpostEditb:hover {
  background-color: #72de85;
}
/* line 232, scss/manage.scss */
.bpostControls .bpostEditb {
  background-color: #49d461;
  width: 75px;
  right: 10px;
  color: #FFF;
}
/* line 238, scss/manage.scss */
.bpostControls .bpostEditb .text {
  position: absolute;
  display: inline-block;
  bottom: 4.5px;
  left: 35px;
}
/* line 246, scss/manage.scss */
.bpostControls .bpostEditb .button {
  background-color: #239436;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  width: 30px;
  height: 100%;
  position: relative;
}
/* line 254, scss/manage.scss */
.bpostControls .bpostEditb .button .x {
  position: absolute;
  top: 4px;
  left: 7px;
  font-size: 13pt;
}

/* line 265, scss/manage.scss */
.ta-editor {
  min-height: 500px;
  height: auto;
}
/* line 270, scss/manage.scss */
.ta-editor div[contenteditable='true'] {
  height: 100%;
}

/* line 276, scss/manage.scss */
.editUser {
  width: 300px;
  margin: 0px auto !important;
  margin-bottom: 10px !important;
}
/* line 281, scss/manage.scss */
.editUser .bpostAvatar {
  float: left;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
/* line 291, scss/manage.scss */
.editUser .field {
  width: 100%;
  margin: 15px auto;
}
