.titleField{
	margin: 10px;
	width: 80% !important;
	max-width: 800px;
}

.postField{
	width: 90% !important;
	margin: 10px;
}
.submitButton{
	margin-left: 15px;
}

.logoutBtn{
	margin:10px;
}

.custForm{
	width: 100px;
}

.loginForm
{
	width:500px;
	margin-top:12px;
}

.loginFormIn
{
	width:200px !important;
	display: inline-block !important;
	margin: 0px 5px;
}

.loveYouJon{
	width:200px;
	margin:auto;
}

.loveYouJon input{
	margin:5px;
}
.marginTop{
	margin-top:100px;
}

.registerBtn{
	width: 100px !important;
	margin: auto !important;
	display: inline-block;
}